<!-- <h1>Welcome to WiFinder</h1> -->
<div class="firstpage">
<%= image_tag "wifinder_white.png", class: "welcomelogo" %>
</div>

<p class="tagline">Find and rank great public workspaces with wifi availability</p>
<p class="starterlink"><%= link_to "FIND WORKSPACES", workspaces_path %> </p>

<div id="bg">
<%= image_tag "bag_and_hands.jpg" %>
</div>
